<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-blue elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/home" class="brand-link custom-bg">
    <img src="./assets/dist/img/femsa-logo.svg" alt="FEMSA Logo" class="brand-image img-circle elevation-5" >
    <span class="brand-text font-weight-light custom-bg"><img src="./assets/dist/img/logoSidebar.png"  ></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
       <div class="image">
         <img src="./assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
       </div>
       <div class="info">
         <a href="#" class="d-block">Alexander Pierce</a>
       </div>
     </div>-->

    <!-- SidebarSearch Form -->
    <!--<div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>-->

    <!-- Sidebar Menu -->
    <!--<nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">

        <li *ngFor="let menuItem of menuArray" class="nav-item">
          <a  class="nav-link">
            <i class="nav-icon fas fa-list-alt"></i>
            <p>
              {{ menuItem.title }}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li *ngFor="let link of menuItem.links" class="nav-item">
              <a routerLink="{{link.route}}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>{{link.name}}</p>
              </a>
            </li>
          </ul>
      </ul>
    </nav>-->
    <!-- /.sidebar-menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li *ngFor="let menuItem of menuArray1" class="nav-item">
          <a  class="nav-link">
            <i class="nav-icon fas fa-list-alt"></i>
            <p>
              {{ menuItem.title }}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li *ngFor="let link of menuItem.links" class="nav-item">
              <a routerLink="{{link.route}}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>{{link.name}}</p>
              </a>
            </li>
          </ul>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
